body,
html {
    font-family: Arial;
    font-size: 16px;
}

img {
    background-color: #445161;
}

.container {
    max-width: 1188px;
    margin: 0 auto;
    padding: 0px 20px;
}

.heder {
    margin-top: 5px;
}

/*section*/
.section {
    padding-top: 43px;
    padding-bottom: 52px;
}

.section__col {}

h2.section__title {
    margin-bottom: 26px;
}

.section__title--center {
    text-align: center;
}

.section--header .container,
.section--about .container,
.section--product .container,
.section--scrinshots .container,
.section--reviews .container,
.section--buy-it-now .container {
    display: flex;
    justify-content: space-between;
}

.section--header .section__image {
    width: 468px;
    height: 213px;
    background-color: white;
    display: block;
}

.section__image--second {
    width: 430px;
    height: 245px;
    background-color: #445162;
    display: block;
}

.section--dark {
    background-color: #445162;
    color: #fff;
}

.section--dark .section__title {}

.section--light {
    padding-top: 46px;
    background-color: #fff;
    color: #445162;
}

.section--light .section__title {}

.section--pink {
    background-color: #f5f5f5;
    color: #445161;
    padding-top: 44px;
}

.section--reviews .container>div:nth-child(1) {
    margin-right: 28px;
}

.subject {
    padding-left: 17px
}

/*icon*/
.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.icon--sm {
    width: 30px;
    height: 30px;
}

.icon--md {}

.icon--check {
    background-image: url(../images/check-icon.png);
    width: 25px;
    height: 18px;
}

.icon--square {
    background-image: url(../images/cross-icon.png), url(../images/square-icon.png);
}

.icon--scrinshots {
    background-image: url(../images/scrinshots.png);
}

/*list*/
.list {}

.list--header {
    font-size: 20px;
    padding-left: 4px;
}

.list--scrinshots {
    font-size: 16px;
    padding-left: 4px;
    margin-bottom: 16px;
}

.list--header li {
    display: flex;
    align-items: center;
}

.list--header li:not(:last-child) {
    margin-bottom: 16px;
}

.list--header li i {
    margin-right: 10px;
}

ul.list.list--iconized {
    padding: 0px;
    margin: 0px;
}

ul.list.list--iconized li {
    display: flex;
    line-height: 1.5em;

}

ul.list.list--iconized li+li {
    margin-top: 1.6em;
}

ul.list.list--iconized li .icon.icon--square {
    margin-right: 6px;
    margin-top: 0.4em;
    flex-shrink: 0;
}

.list--articles {}

.list--articles li {
    display: flex;
}

.list--articles li+li {
    margin-top: 26px;
}

.list--articles li img {
    width: 200px;
    height: 150px;
    flex-shrink: 0;
}

.list--articles li img.circle {
    border-radius: 50%;
    width: 78px;
    height: 78px;
    margin-right: 30px;
}

/*h1-h6*/
h1 {
    font-size: 3.75rem;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.875rem;
    margin-bottom: 31px;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 11px;
}

/*p*/
p {
    line-height: 24px;
    max-width: 680px;
}

p+p {
    margin-top: 11px;
}

.dico li {
    font-size: 16px;
    line-height: 23px;
}

.ital {
    font-size: 14px;
    background-color: #ebebeb;
    padding: 0;
    margin-bottom: 13px;
    border: 0px;
    border-radius: 5px;
    position: relative;
    font-style: italic;
}

.ital p {
    line-height: 18px;
    margin-top: 3px;
    padding-top: 10px;
    padding-left: 13px;
}


.signature {
    padding-top: 9px;
    padding-left: 13px;
}

.blockquote.ital:after {
    position: absolute;
    content: "";
    top: 20px;
    left: -13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 25px 0;
    border-color: transparent #ebebeb transparent transparent;
}

.cards {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: auto
}

.cards__item {
    margin-right: 23px;
    margin-left: 23px;
    background-color: #445162;
    width: 298px;
    color: #ffffff;
    border: 1px solid #445162;
    border-radius: 5px;
}

.cards__item>div:nth-child(1) {
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.cards__item>div:nth-child(2) {
    text-align: center;
    font-size: 40px;
    background-color: #fff;
    color: #445162;
    padding-top: 13px;
    padding-bottom: 14px;
}

.cards__item-content {
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 19px;

    font-size: 14px;
}

.cards__item ol {
    list-style-type: decimal;
    padding-left: 16px;
}

.cards__item li {
    line-height: 24px;
}

.cards__item button {
    width: 100%;
    height: 40px;
    color: #445162;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 15px;
    border: none;
}

.cards__item:last-child {
    float: right;

}

.inform {}

.inform input,
.inform textarea {
    width: 479px;
    margin-bottom: 22px;
    border: 0px;
    border-radius: 5px;
    display: block;
    padding: 0px 11px;
    font-size: 16px;
}

input {
    height: 39px;
}

textarea {
    height: 171px;
}

.buttons {
    margin-left: 108px;
    display: block;
    border: 0px;
    border-radius: 5px;
}

.inform {
    margin-left: 203px;
}

.inform button {
    width: 140px;
    height: 40px;
    background-color: #fff;
    color: #445162;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
}

.contacts {
    display: flex;
}

.icon--skype {
    background-image: url(../images/skype-icon.png);
}

.icon--icq {
    background-image: url(../images/icq-icon.png);
}

.icon--email {
    background-image: url(../images/email-icon.png);
}

.icon--phone {
    background-image: url(../images/phone-icon.png);
}

.links {
    margin-left: 41px;
}

.list-contacts {}

.icon--contacts {
    vertical-align: middle;
    margin-right: 2px;
}

.list-contacts li {
    padding: 0px 0px 13px 0px;
    display: flex;
    align-items: center;
}

.section--footer {
    background-color: #f5f5f5;
    font-size: 12px;
    color: #445162;
    text-align: center;
    margin-top: 7px;
}

.logo {
    background-color: #ffffff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

ul .logo {
    display: flex;
    margin-right: 7px;
}

.site-icons ul {
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
}

/*************************media*******************************/
/* mobile first strategy */
@media (max-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/* desktop first strategy */
@media (max-width: 1200px) {
    .section--header .section__image {
        width: 351px;
        height: 160px;
    }
}

@media (max-width: 992px) {
    .list.list--header {
        font-size: 18px;
    }

    /*h1-h6*/
    h1 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 31px;
    }

    h3 {
        font-size: 1.4rem;
        padding-bottom: 11px;
    }
}

@media (max-width: 768px) {
    .section--header .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section--header .section__col:nth-child(2) {
        margin-bottom: 30px;
    }

    .section--header .section__title {
        text-align: center;
    }
}

@media (max-width: 576px) {}

/* desktop second strategy */
@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .section__image--second {
        width: 268px;
        height: 163px;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .section--about .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section--about .section__title {
        text-align: center;
        margin-top: 30px;
    }

    .section--about p {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media (max-width: 576px) {}

/* desktop third strategy */

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .list--iconized li {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .section--product .container {
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section--product .section__col:nth-child(1) {
        margin-bottom: 25px;
    }

}

@media (max-width: 576px) {}

/* desktop fourth strategy */

@media (max-width: 1200px) {
    .subject p {
        font-size: 0.9rem;
        line-height: 19px;
    }

    h3 {
        font-size: 1.4rem;
        padding-bottom: 6px;
    }

}

@media (max-width: 992px) {
    h3 {
        font-size: 1.3rem;
        padding-bottom: 2px;
    }

    .list--articles li img {
        width: 150px;
        height: 100px;
        flex-shrink: 0;
    }

    .subject p {

        line-height: 13px;
    }
}

@media (max-width: 768px) {
    .section--scrinshots .container {
        flex-direction: column;
    }

    .section--scrinshots .section__col:nth-child(1) {
        margin-bottom: 25px;
    }

}

@media (max-width: 576px) {}

/* desktop fifth strategy */

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .ital {
        font-size: 13px;
    }

    .ital p {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .section--reviews .container {
        flex-direction: column;
    }

    .section--reviews .section__col:nth-child(1) {
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {}

/* desktop sixth strategy */

@media (max-width: 1200px) {
    .cards {
        margin-left: 0;
    }
}

@media (max-width: 992px) {
    .cards {
        flex-direction: column;
        margin: auto;
    }

    .cards__item {
        margin-bottom: 25px;
        width: 450px;
    }

    .cards__item>div:nth-child(1) {
        font-size: 30px;
    }

    .cards__item>div:nth-child(1) {
        font-size: 45px;
    }

    .cards__item-content {
        font-size: 20px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}