body,html{
    font-family: Arial;
}
img{
    background-color: #445161;
}
.container{
    display: flex;
    width: 1188px;
    margin: 0 auto;
}
.heder{
    margin-top: 5px;
}
/*section*/
.section{
    padding-top: 43px;
    padding-bottom: 52px;
}

.section__col{

}
h2.section__title{
    margin-bottom: 26px;
}
.section__title--center{
    text-align: center;
}
.section--header .container{
    justify-content: space-between;   
   }
.section--dark{ 
    background-color: #445162;
    color: #fff;
}

.section--dark .section__title{

}
.section--light{ 
    padding-top: 46px;
    background-color: #fff; 
    color: #445162;   
}
.section--light .section__title{

}
.section--pink{
    background-color: #f5f5f5;
    color: #445161;
    padding-top: 44px;
}
.subject{
    padding-left: 17px
}

/*icon*/
.icon{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
} 
.icon--sm{
    width: 30px;
    height: 30px;
} 
.icon--md{

}
.icon--check{
    background-image: url(../images/check-icon.png);
    width: 25px;
    height: 18px;
} 
.icon--square{
    background-image: url(../images/cross-icon.png), url(../images/square-icon.png) ;
}
.icon--scrinshots{
    background-image: url(../images/scrinshots.png);
}
/*list*/
.list{

}
.list--header{
    font-size: 20px;
    padding-left: 4px;
} 
.list--scrinshots{
    font-size: 16px;
    padding-left: 4px;
    margin-bottom: 16px;
}
.list--header li{
    display: flex;
    align-items: center;
}
.list--header li:not(:last-child){
    margin-bottom: 16px;
}
.list--header li i{
    margin-right: 10px;
}
ul.list.list--iconized {
    padding: 0px;
    margin: 0px;
}
ul.list.list--iconized li{
    display:flex;
    line-height: 1.5em;

}
ul.list.list--iconized li+li{
    margin-top: 1.6em;
}

ul.list.list--iconized li .icon.icon--square {
    margin-right: 6px;
    margin-top: 0.4em;
    flex-shrink: 0;
}
.list--articles{

}
.list--articles li{
    display: flex;
    padding-bottom: 26px;
}
.list--articles li img{
    width: 200px;
    height: 150px;
    flex-shrink: 0;
}
/*h1-h6*/
h1{
    font-size: 60px;
    margin-bottom: 40px;
}
h2{
    font-size: 30px;
    margin-bottom: 28px;
}
h3{
    font-size: 24px;
    padding-bottom: 11px;
}
/*p*/
p {
    line-height: 24px;
    max-width: 680px;
}
p+p{
    margin-top: 11px;
}
.dico li{
   font-size: 16px;
   line-height: 23px;
}