body,html{
    font-family: Arial;
}
img{
    background-color: #445161;   
}

.container{
    width: 1188px;
    margin: 0 auto;
}
.heder{
    margin-top: 5px;
}
/*section*/
.section{
    padding-top: 43px;
    padding-bottom: 52px;
}

.section__col{

}
h2.section__title{
    margin-bottom: 26px;
}
.section__title--center{
    text-align: center;
}
.section--header .container,
.section--about .container,
.section--product .container,
.section--scrinshots .container,
.section--reviews .container,
.section--buy-it-now .container {
    display: flex;
    justify-content: space-between;
}
.section--dark{ 
    background-color: #445162;
    color: #fff;
}

.section--dark .section__title{

}
.section--light{ 
    padding-top: 46px;
    background-color: #fff; 
    color: #445162;   
}
.section--light .section__title{

}
.section--pink{
    background-color: #f5f5f5;
    color: #445161;
    padding-top: 44px;
}
.subject{
    padding-left: 17px
}

/*icon*/
.icon{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
} 
.icon--sm{
    width: 30px;
    height: 30px;
} 
.icon--md{

}
.icon--check{
    background-image: url(../images/check-icon.png);
    width: 25px;
    height: 18px;
} 
.icon--square{
    background-image: url(../images/cross-icon.png), url(../images/square-icon.png) ;
}
.icon--scrinshots{
    background-image: url(../images/scrinshots.png);
}
/*list*/
.list{

}
.list--header{
    font-size: 20px;
    padding-left: 4px;
} 
.list--scrinshots{
    font-size: 16px;
    padding-left: 4px;
    margin-bottom: 16px;
}
.list--header li{
    display: flex;
    align-items: center;
}
.list--header li:not(:last-child){
    margin-bottom: 16px;
}
.list--header li i{
    margin-right: 10px;
}
ul.list.list--iconized {
    padding: 0px;
    margin: 0px;
}
ul.list.list--iconized li{
    display:flex;
    line-height: 1.5em;

}
ul.list.list--iconized li+li{
    margin-top: 1.6em;
}

ul.list.list--iconized li .icon.icon--square {
    margin-right: 6px;
    margin-top: 0.4em;
    flex-shrink: 0;
}
.list--articles{

}
.list--articles li{
    display: flex;
}
.list--articles li+li{
 margin-top: 26px;
}
.list--articles li img{
    width: 200px;
    height: 150px;
    flex-shrink: 0;
}
.list--articles li img.circle{
    border-radius: 50%;
    width: 78px;
    height: 78px;
    margin-right: 30px;
}
/*h1-h6*/
h1{
    font-size: 60px;
    margin-bottom: 40px;
}
h2{
    font-size: 30px;
    margin-bottom: 31px;
}
h3{
    font-size: 24px;
    padding-bottom: 11px;
}
/*p*/
p {
    line-height: 24px;
    max-width: 680px;
}
p+p{
    margin-top: 11px;
}
.dico li{
   font-size: 16px;
   line-height: 23px;
}
.ital{
    font-size: 14px;
    background-color: #ebebeb;
    padding-top: 10px;
    padding-left: 14px; 
    margin-bottom: 13px;
    border: 0px;
    border-radius: 5px;
    position: relative;
    font-style: italic;
}
.ital p{
    line-height: 1.4em;
    margin-bottom: 6px;
}
.blockquote.ital:after{
    position: absolute;
    content: "";
    top: 20px;
    left: -13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 25px 0;
    border-color: transparent #ebebeb transparent transparent;
}
.cards{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 1037px;
    margin-left: 77px;

}
.cards__item{
    background-color: #445162;
    width: 298px;
    color: #ffffff;
    border: 1px solid #445162;
    border-radius: 5px;
}
.cards__item>div:nth-child(1){
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.cards__item>div:nth-child(2){
    text-align: center;
    font-size: 40px;
    background-color: #fff;
    color: #445162;
    padding-top: 13px;
    padding-bottom: 14px;
}
.cards__item-content {
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 19px;
    
    font-size: 14px;
}
.cards__item ol{
    list-style-type: decimal;
    padding-left: 16px;
}
.cards__item li{
    line-height: 24px;
}
.cards__item button{
    width: 100%;
    height: 40px;
    color: #445162;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 15px;
    border:none;
}
.cards__item:last-child {
    float: right;

}