body,html{
    font-family: Arial;
}
.container{
    display: flex;
    width: 1188px;
    margin: 0 auto;
}
.heder{
    margin-top: 5px;
}
/*section*/
.section{
    padding-top: 43px;
    padding-bottom: 53px;
}

.section__col{

}
h2.section__title{
    margin-bottom: 26px;
}
h2.section__title-center{
    text-align: center;
}
.section--header .container{
    justify-content: space-between;   
   }
.section--dark{ 
    background-color: #445162;
    color: #fff;
}
.section--dark .section__title{

}
.section--light{ 
    padding-top: 45px;
    background-color: #fff;    
}
.section--light .section__title{
    color: #445162;
}
.section--pink{
    background-color: #f5f5f5;
    color: #445161;
}

/*icon*/
.icon{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
} 
.icon--sm{

} 
.icon--check{
    background-image: url(../images/check-icon.png);
    width: 25px;
    height: 18px;
}
.icon--cross{
    background-image: url(../images/square-icon.png);
    width: 115px;
    height: 30px;
}
/*list*/
.list{

}
.list--header{
    font-size: 20px;
    padding-left: 4px;
} 
.list--header li{
    display: flex;
    align-items: center;
}
.list--header li:not(:last-child){
    margin-bottom: 16px;
}
.list--header li i{
    margin-right: 10px;
}
/*h1-h6*/
h1{
    font-size: 60px;
    margin-bottom: 40px;
}
h2{
    font-size: 30px;
    margin-bottom: 31px;
}
/*p*/
p {
    line-height: 24px;
    max-width: 680px;
}
p+p{
    margin-top: 11px;
}
ul{
 
}